aiobotocore==2.24.2
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aioitertools==0.12.0
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.11.0
APScheduler==3.11.0
attrs==25.3.0
botocore==1.40.18
bounded-pool-executor==0.0.3
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.3.0
colorama==0.4.6
dotenv==0.9.9
earthaccess==0.15.1
fastapi==0.118.0
frozenlist==1.7.0
fsspec==2025.9.0
greenlet==3.2.4
h11==0.16.0
h5netcdf==1.6.4
h5py==3.14.0
idna==3.10
importlib_resources==6.5.2
jmespath==1.0.1
joblib==1.5.2
multidict==6.6.4
multimethod==2.0
numpy==2.3.3
packaging==25.0
pandas==2.3.3
pqdm==0.2.0
propcache==0.3.2
psycopg2-binary==2.9.10
pydantic==2.11.9
pydantic_core==2.33.2
python-cmr==0.13.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.5
s3fs==2025.9.0
scikit-learn==1.7.2
scipy==1.16.2
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.43
starlette==0.48.0
tenacity==9.1.2
threadpoolctl==3.6.0
tinynetrc==1.3.1
tqdm==4.67.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
uvicorn==0.37.0
wrapt==1.17.3
xarray==2025.9.1
yarl==1.20.1
